<%= form_with model: illust, local: true do |f| %>
  <div>
    <%= f.label :title, "タイトル" %><br>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :description, "説明" %><br>
    <%= f.text_area :description %>
  </div>

  <div>
    <%= f.label :image, "画像アップロード" %><br>
    <%= f.file_field :image, accept: "image/*", id: "image_upload" %>
  </div>

  <div>
    <% if illust.image.attached? %>
      <p>現在の画像</p>
      <%= image_tag illust.image, id: "preview", style: "max-width: 300px;" %>
    <% else %>
      <img id="preview" style="max-width: 300px; display: none;">
    <% end %>
  </div>

  <%= f.submit %>
<% end %>
