<h1>イラスト一覧</h1>

<div class="top-actions">
  <%= link_to "＋ 新しいイラストを投稿", new_illust_path, class: "btn btn-primary" %>

  <% if logged_in? %>
    <%= link_to "★ お気に入り一覧", favorites_path, class: "btn btn-favorite" %>
  <% end %>
</div>


<div class="search-box">
  <%= form_with url: illusts_path, method: :get, local: true do |f| %>
    <%= f.text_field :q,
          value: params[:q],
          placeholder: "タイトル・説明を検索" %>
    <%= f.submit "検索" %>
  <% end %>
</div>


<!-- ソート -->
<div class="sort-links">
  <%= link_to "新着順", illusts_path(sort: "newest", q: params[:q]) %>
  <%= link_to "古い順", illusts_path(sort: "oldest", q: params[:q]) %>
  <%= link_to "タイトル昇順", illusts_path(sort: "title_asc", q: params[:q]) %>
  <%= link_to "タイトル降順", illusts_path(sort: "title_desc", q: params[:q]) %>
</div>

<hr>

<div class="illust-grid">
  <% @illusts.each do |illust| %>
    <div class="illust-card">
      <% if illust.image.attached? %>
        <%= link_to illust_path(illust) do %>
          <%= image_tag illust.image.variant(resize_to_limit: [300, 300]) %>
        <% end %>
      <% end %>

      <p class="illust-title"><%= link_to illust.title, illust %></p>
      <p class="illust-user">投稿者: <%= illust.user.name %></p>
    </div>
  <% end %>
</div>

